@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  background-color: #45567d;
  line-height: 1.4;
  width: 100%;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 20px;
  padding: 25px 0px 25px 1040px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  z-index: 5;
}
header h3 {
  color: white;
}
header a {
  text-decoration: none;
  display: inline-block;
  color: gray;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 0.5px;
  background: #fff;
  transition: width.3s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width.3s;
}
#welcome-section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 10vw;
  left: 0vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
#welcome-section > h2 {
  color: rgb(5, 6, 77);
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #45567d;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-size: 40px;
  border-bottom: 0.2rem solid #f0f0f0;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.projects-grid > a {
  text-decoration: none;
  color: gray;
}
@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.project {
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #303841;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}
.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

@media only screen and(max-width:800px) {
  header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 2vw;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
  }
}
.card {
  margin: 0 600px 0 600px;
  position: absolute;
  width: 300px;
  height: 300px;
  perspective: 600px;
}
.card h1 {
  border-bottom: 0.2rem solid #f0f0f0;
  text-align: center;
}
.details h2 {
  text-align: center;
  font-size: 35px;
}
h4 {
  text-align: center;
  color: rgb(160, 80, 34);
  font-size: 25px;
}
.social-icons {
  padding-left: 80px;
}
.social-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
  background: #262626;
  text-align: center;
}
.social-icons a .fa {
  line-height: 36px;
}
.social-icons a:hover {
  background: #e91e63;
}
